
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Type</th>
        <th>Date de début</th>
        <th>Date de fin</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let poe of poes">
        <tr>
          <td>
            {{ poe.title | uppercase}}
          </td>
          <td>
            {{ poe.poeType}}
          </td>
          <td>
           {{ poe.beginDate | date:'dd/MM/YYYY'}}
          </td>
          <td>
          {{ poe.endDate | date:'dd/MM/YYYY' }}
          </td>
          <td>
           
           
        <button mat-mini-fab color="warn" (click)="onDelete(poe)">
              <mat-icon>delete</mat-icon>
            </button>
           
            <button mat-raised-button (click)="openDialog()">Supprimer</button>
          </td>
         
        </tr>
      </ng-container>
    </tbody>

   <!--
<tfoot>
      <td colspan="5">
        Total = {{ displayNumber() }}/{{count()}}
        on peut aussi mettre stagiaires.length à la place de count()
    </td>
</tfoot>
   -->
  </table>


  <a [routerLink]="'/poes/add'" class="btn btn-primary">
    Ajouter une Poe
  </a>
