
  <!--<table>-->
    <header>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <button mat-button mat-icon-button class="searchIcon">
            <span class="material-symbols-outlined">
              <mat-icon>
                search
              </mat-icon>
            </span>
          </button>
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
          <mat-label>Recherche</mat-label>
          <input matInput placeholder="Ex. POEC" value="">
        </mat-form-field>
      </mat-expansion-panel>
      </header>

      <mat-table matTableFilter [exampleEntity]="filterEntity"
  [filterType]="filterType" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Name" [(ngModel)]="filterEntity.name">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <table matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="title">Titre</th>
        <th mat-sort-header="poeType">Type</th>
        <th mat-sort-header="beginDate">Date de début</th>
        <th mat-sort-header="endDate">Date de fin</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let poe of poes">
        <tr>
          <td>
            {{ poe.title | uppercase}}
          </td>
          <td>
            {{ poe.poeType }}
          </td>
          <td>
           {{ poe.beginDate | date:'dd/MM/YYYY'}}
          </td>
          <td>
          {{ poe.endDate | date:'dd/MM/YYYY' }}
          </td>
          <button mat-mini-fab class="btnEdit" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>edit</mat-icon>
          </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="update(poe)">Modifier</button>
    <button mat-menu-item (click)="openDialog(poe)">Supprimer</button>
  </mat-menu>
        </tr>
      </ng-container>
    </tbody>

   <!--
<tfoot>
      <td colspan="5">
        Total = {{ displayNumber() }}/{{count()}}
        on peut aussi mettre stagiaires.length à la place de count()
    </td>
</tfoot>
   -->
  </table>


  <a [routerLink]="'/poes/add'" class="btn btn-primary">
    Ajouter une Poe
  </a>
