
  <!--<table>-->


      <ng-container *ngIf="poes else loading">

        <div>
          <header>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <button mat-button mat-icon-button class="searchIcon">
                <span class="material-symbols-outlined">
                  <mat-icon>
                    search
                  </mat-icon>
                </span>
              </button>
        </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Recherche</mat-label>
            <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Ex. Java FullStack">
          </mat-form-field>
        </mat-expansion-panel>
      </header>
        </div>
        <a [routerLink]="'/poes/add'" class="btn btn-primary">
          Ajouter une Poe
        </a>

        <mat-table [dataSource]="dataSource"  matSort (matSortChange)="sortData($event)">

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="title"> Titre </th>
            <td mat-cell *matCellDef="let poe"> {{ poe.title | uppercase }} </td>
          </ng-container>

          <ng-container matColumnDef="beginDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="beginDate"> Date de début </th>
            <td mat-cell *matCellDef="let poe"> {{ poe.beginDate | date: 'dd-MM-YYYY' }} </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="endDate"> Date de fin </th>
            <td mat-cell *matCellDef="let poe"> {{ poe.endDate | date: 'dd-MM-YYYY'  }} </td>
          </ng-container>

          <ng-container matColumnDef="poeType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="poeType"> Type </th>
            <td mat-cell *matCellDef="let poe"> {{ poe.poeType }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  &nbsp; </th>
            <td mat-cell *matCellDef="let poe">
              <button mat-mini-fab class="btnEdit" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>edit</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  (click)="update(poe)">Modifier</button>
                <button mat-menu-item  (click)="openDialog(poe)">Supprimer</button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</ng-container>

<ng-template #loading>
  POE's list is loading...
</ng-template>


