//creation d'une variable:
$default-color: rgb(23,23,22);
$button-font-color: rgb(255,255,255);
$button-inactive-color: rgb(20,20,200);

h1{
    text-align: center;
}
form{

    margin: auto;
    padding: 0.5em ;
    border: 0.15em solid grey;
    background-color:  lighten(rgb(20,20,200),50%);
    border-radius: 10%;
    width: fit-content;
    text-align: center;
    mat-form-field{
        margin:0.5em;

    }
    mat-radio-group{
        mat-radio-button{
            margin: 0.5em;
        }
    }
    button{
        margin-top: 0.5em;
    }
}
a{
    &.btn{ //pour rajouter une classe supplémentaire
        display: block;
        text-decoration: none;
        padding:0.5em;
        border-radius: 0.4em;
        width: fit-content;
        margin:auto;
        text-align: center;
        text-transform: uppercase;
        &.btn-primary{
            background-color:$button-inactive-color;
            color: $button-font-color;
        }
    }
}

