.titreQuestion {
    margin: 0px;
    margin-bottom: 5px;
}

body {
    margin-top: 20px;;
    margin-left: 50px;
    margin-right: 50px;
}

.eachQuestion {
    margin: 10px 0px 0px;
}

.response {
    margin-left: 20px;;
}

.titreFormulaire {
    font-weight: 100;
    font-size: 2.5em;
}
