.general{
  text-align: right;
  font-size: 1.1em;
  //color: rgb(224, 247, 250)
  //font-weight: bold;
}

// .mat-form-field-infix{
//   color: red;//rgb(254, 249, 231)!important;
// }


.container { //container titre question et formulaire
  width: 600px;
  max-width: 100%;
  margin: 0 100px 0px 100px;
  text-align:center;
  border-radius: 5%;
  display: inline-block;
  vertical-align: top;
  background-color: lighten(rgb(84, 110, 122), 50%);// rgb(38, 50, 56


  h2{// titre question et formulaire
    color: rgb(84, 110, 122);
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
  }
}

input::placeholder{
  color: rgb(224, 247, 250);
}

#titre {//champs de saisi titre
  //background-color:#00bfff;
  color: rgb(224, 247, 250);
  font-size: 1.4em;
}

#bouton{
  background-color: rgb(224, 247, 250);
  font-weight: bold;
  color:rgb(84, 110, 122);

}

.add-button{
  color: rgb(230, 74, 25);
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.box { //encart des questions /
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background-color: lighten(rgb(254, 249, 231),2%);
  font-size: 14px;

}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;

}

.example-list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

div.scroll-list {
  overflow: auto;
  max-height: 70vh;
}

.drag-over {
  border: #ff525b dashed 2px;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #00bfff dashed 2px;
}

.drag-target-border-green {
  border: #3c763d dashed 2px;
}

th, td {
  border: 1px solid black;
}


/*Modal popup changes*/
/* The Modal (background) */
.modal {
display: block; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 80%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: #5cb85c;
color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
padding: 2px 16px;
background-color: #5cb85c;
color: white;
}

