<header>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <!-- TOOLBAR -->
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menus" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <button mat-button mat-icon-button fontIcon="home">
      <mat-icon aria-label="Example home icon" [routerLink]="'/home'">
        home
      </mat-icon>
    </button>
    <!-- MENU -->
    <button mat-button [matMenuTriggerFor]="menus"></button>
    <mat-menu #menus="matMenu" class="menu-content-list">
      <ul class="inner-content">
        <li><a [routerLink]="['/poes/list']">POE</a>
        </li>
        <li><a [routerLink]="['/poes/list', 'POEC']">POEC's</a>
          <ul>
            <ng-container *ngFor="let poe of poes">
              <ng-container *ngIf="(poe.poeType==='POEC')">
                <li>{{ this.poe.title}}</li>
              </ng-container>
            </ng-container>
          </ul>
        </li>
        <li><a [routerLink]="['/poes/list', 'POEI']">POEI's</a>
          <ul>
            <ng-container *ngFor="let poe of poes">
              <ng-container *ngIf="(poe.poeType==='POEI')">
                <li>{{ this.poe.title}}</li>
              </ng-container>
            </ng-container>
          </ul>
        </li>
        <li><a [routerLink]="['/poes/add']">Créer une POE</a>
        </li>
        <li>
          <a [routerLink]="'/stagiaires'">{{ 'links.interns' | translate }}</a>
        <li><a [routerLink]="['/survey/detail/', 1]">Formulaire 1 mois</a>
        </li>
        <li><a [routerLink]="['/survey/detail/', 2]">Formulaire 6 mois</a>
        </li>
        <li><a [routerLink]="['/survey/detail/', 3]">Formulaire 12 mois</a>
        </li>
        <li><a [routerLink]="['/home']">Créer un nouveau formulaire</a>
        </li>
      </ul>
    </mat-menu>
    <!-- <span class="title-app">J-L-App</span> -->
    <h1>{{'appTitle' | translate }}</h1>

    <!-- BOUTONS A DROITE -->
    <span class="example-spacer"></span>
    <button type="button" (click)="switchLanguage('fr')" [disabled]="intlService.language === 'fr'">Fr</button>
    <button type="button" (click)="switchLanguage('en')" [disabled]="intlService.language === 'en'">En</button>
    <button mat-button mat-icon-button>
      <span class="material-symbols-outlined">
        <mat-icon>
           login
        </mat-icon>

      </span>
    </button>
  </mat-toolbar>


  <!-- ESSAI SEARCHBAR -->

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <button mat-button mat-icon-button class="searchIcon">
        <span class="material-symbols-outlined">
          <mat-icon>
            search
          </mat-icon>
        </span>
      </button>
    </mat-expansion-panel-header>
    <mat-form-field class="example-full-width">
      <mat-label>Recherche</mat-label>
      <input matInput placeholder="Ex. POEC" value="">
    </mat-form-field>
  </mat-expansion-panel>
</header>

<!--Etagère à routes: router-outlet-->
<!--quand on va cliquer sur un des liens router, ça va accueillir les routes
et charger les components, le contenu-->
<router-outlet></router-outlet>
