
//variables:
$bleu: #2daee1;
$orange: #f39200;
$rose: #c01466;
$gris: #494948;


header {
    mat-toolbar {
        background-color: lighten($bleu,30%);
    }

    h1 {

        font-size: 25px;
        color: $gris;
    }

    mat-icon {
        color: $gris;
    }
    img{
        width:3vw;
    }
}

button{
    cursor: pointer;
}


ul {
  background-color: lighten($bleu,30%);

    &.inner-content {
        padding-right: 2.5vw;
    }

    li {
        list-style: none;
        color: $gris;
        font-weight: bold;
        font-size: 17px;
    }
}





.example-spacer {
    flex: 1 1 auto;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;

}

.mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}
