//variables
$default-color: rgb(23, 23, 22);
$menu-font-color: rgb(255, 255, 255);
$purple: lighten(rgb(20, 20, 200), 30%);

header {
    mat-toolbar {
        background-color: $purple;
    }

    .title-app {
        color: $menu-font-color;
    }

    mat-icon {
        color: $menu-font-color;

        
    }
}

ul {
    &.inner-content {
        padding-right: 2.5vw;
    }

    li {
        list-style: none;
    }
}

.example-spacer {
    flex: 1 1 auto;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: $menu-font-color;
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }