<button type="button" (click)="showLi = 'F'" [ngClass]="{'is-selected': showLi === 'F'}">
  Filles
</button>
<button type="button" (click)="showLi = 'M'" [ngClass]="{'is-selected': showLi === 'M'}">
  Garçons
</button>
<button type="button" (click)="showLi = 'A'" [ngClass]="{'is-selected': showLi === 'A'}">
  Display All
</button>

<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Initials</th>
      <th>Name</th> 
      <th>FirstName</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let stagiaire of stagiaires">
      <tr *ngIf="(showLi === 'A') ? true: stagiaire.gender ===showLi">
        <td>
          <span [ngClass]="{'bubble': true, 'male': stagiaire.gender === 'M', 'female': stagiaire.gender === 'F'}"
            (click)="goToDetail(stagiaire.id)">
            {{ stagiaire | initials }}
          </span>
        </td>
        <td>
          <!--on va passer les valeurs des paramètres pour la pipe-->
          {{ stagiaire | initials :false :true }}
        </td>
        <td>
          {{ stagiaire.lastName | uppercase}}
        </td>
        <td>
          {{ stagiaire.firstName }}
        </td>
        <td>
          {{ stagiaire.gender }}
        </td>
        <td>
          {{ stagiaire.birthDate | date:'dd/MM/YYYY' }}
        </td>
        <td>
          <button mat-mini-fab color="warn" (click)="onDelete(stagiaire)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td>
          <button mat-mini-fab color="warn" (click)="update(stagiaire)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>

  <tfoot>
    <td colspan="5">
      Total = {{ displayNumber() }}/{{count()}}
      <!--on peut aussi mettre stagiaires.length à la place de count()-->
    </td>
  </tfoot>
</table>


<a [routerLink]="'/stagiaire/add'" class="btn btn-primary">
  Ajouter un stagiaire
</a>