<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">


  <div class="grid-container">
  <ng-container *ngFor="let poe of poes">
    <ng-container *ngIf="getmonth(this.poe.endDate) > 0 && getmonth(this.poe.endDate) < 18">
    <!-- ctrol oblique a reprendre pour faire la liste des types de poe en dynamique -->

    <div class="grid-child {{poe.id}}">
      <h1>
        <a  (click)="goToDetail(poe.id)">{{ this.poe.title}} {{ this.poe.poeType}}</a>
      </h1>
    <p>Date début : {{this.poe.beginDate | date :'dd/MM/YYYY'}}</p>
    <p>Date fin : {{this.poe.endDate | date :'dd/MM/YYYY'}}</p>
    <hr class="solid">

    <ng-container>
      <div class="buttonscontainer">
      <button class="buttons" [ngClass]="{'notYetClickable' : !(getmonth(this.poe.endDate) >= 1 && getmonth(this.poe.endDate) < 6)}"
                                                      type="button" [disabled]="!(getmonth(this.poe.endDate) >= 1 && getmonth(this.poe.endDate) < 6)
                                                      || poe.surveySendDateOneMonth != null" (click)="sendEmail(poe.id, 1); disableButton($event)" >1</button>
      <button class="buttons" [ngClass]="{'notYetClickable' : !(getmonth(this.poe.endDate) >= 6 && getmonth(this.poe.endDate) < 12) }"
                                                      type="button" [disabled]="!(getmonth(this.poe.endDate) >= 6 && getmonth(this.poe.endDate) < 12)
                                                      || poe.surveySendDateSixMonth != null" (click)="sendEmail(poe.id, 2); disableButton($event)">6</button>
      <button class="buttons" [ngClass]="{'notYetClickable' : !(getmonth(this.poe.endDate) >= 12)}"
                                                      type="button" [disabled]="!(getmonth(this.poe.endDate) >= 12)
                                                      || poe.surveySendDateTwelveMonth != null" (click)="sendEmail(poe.id, 3); disableButton($event)">12</button>
      </div>
      </ng-container>
    </div>

</ng-container>
</ng-container>
</div>
<router-outlet></router-outlet>
