//creation d'une variable:
$default-color: rgb(23,23,22);
$button-font-color: rgb(255,255,255);
$button-background-color: transparent ;
$button-inactive-color: rgb(20,20,200);
//variables:
$bleu: #2daee1;
$orange: #f39200;
$rose: #c01466;
$gris: #494948;


/**
SCSS Rules
**/

p{
    color: $default-color;
    font-weight: bold;
    font-size: 1.3em; // fait référence à la taille en px par défaut, qui est de 16 (ici 1.3 x 16 px)
}

button {
    border: none;

    background-color: $button-background-color;
    color: $button-inactive-color;
    height: fit-content;
    margin: 0.5em;
    cursor: pointer;

    &.is-selected {
        border-radius: 0.4em;
        background-color: $button-inactive-color;
        color:$button-font-color;
        animation: coolAppear 1s ease-in 0s 1 forwards;
    }

    &.btnEdit {
      background-color: rgb(44,62,80  );
    }
}

.thumbUp {
  color: rgb(40, 180, 99);
  margin: 0.5em;
}

.thumbDown {
  color: rgb(192, 57, 43);
  margin: 0.5em;
}

.contactMail {
  border-radius: 0.3em;
  background-color:rgb(44,62,80);
  width: 10px;
  height: 35px;
}

a{
    cursor: pointer;
    &.btn{ //pour rajouter une classe supplémentaire
        display: block;
        text-decoration: none;
        padding:0.5em;
        border-radius: 0.4em;
        width: fit-content;
        margin: 1em;
        text-align: center;
        text-transform: uppercase;
        &.btn-primary{
            background-color:$orange;
            color: $button-font-color;
        }
    }
}

@keyframes coolAppear {
    0%{
        background-color: lighten($orange, 80%);
    }
    50%{
        background-color: lighten($orange, 40%);
        transform: translateX(25%);
    }
    100%{
        background-color:$orange;
        transform: translateX(25%);
    }
}



table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1em;
    thead {
        border-bottom-style: solid;
        border-bottom-color: $orange;
        height: 3em;
        th {
            text-align: left;
        }
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: lighten($orange, 30%);
                color: $default-color;
            }
            td {
                &:first-child {
                    span {
                        cursor: pointer;
                        display: inline-block;
                        height: 2em;
                        width: 2em;
                        line-height: 2em;
                        vertical-align: middle;
                        border-radius: 50%;
                        text-align: center;
                        font-weight: 700;
                        &.male { // table tbody tr td:first-child span.male {...}
                            background-color: rgb(27,79,114);
                            color: $button-font-color;
                        }

                        &.female {
                            background-color: rgb(91,44,111);
                            color: $button-font-color;
                        }
                    }
                }
            }
        }
    }
    tfoot {
        border-top-style: solid;
        border-top-color: $orange;
        border-bottom-style: solid;
        border-bottom-color: $orange;
        height: 3em;

        td {
            &[colspan="2"] {
                text-align: right;
                font-weight: 700;
            }
        }
    }
}
